@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Your global styles here
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

//.container {
  //display: flex;
  //min-height: 100vh;
//}

.sidebar {
  width: 250px;
  background: #2c3e50;
  color: white;
  // Other sidebar styles
}

.main-content {
  flex: 1;
  padding: 20px;
  // Other main content styles
}
