<div class="sidebar">
  <div class="logo">
    <h2>BLACK<span>BOX</span></h2>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="/home"><i class="fas fa-home"></i> Accueil</a>
    </li>
    <li>
      <a routerLink="/dashboard"><i class="fas fa-home"></i> Candidats </a>
    </li>
    
    <li>
      <a routerLink="/copy"><i class="fas fa-home"></i> Admission </a>
    </li>
    <li>
      <a routerLink="/employability"
        ><i class="fas fa-briefcase"></i> Employabilité</a
      >
    </li>
    <li>
      <a routerLink="/visualization"
        ><i class="fas fa-chart-scatter"></i> Visualisation</a
      >
    </li>
   
    <li>
      <a routerLink="/history"><i class="fas fa-history"></i> Historique</a>
    </li>
      
    <li>
      <a routerLink="/about"><i class="fas fa-info-circle"></i> À propos</a>
    </li>
  </ul>
</div>
